.program-alumni-header {
    margin-left: 120px;
    margin-top: 40px;
    font-size: 60px;
    color: white;
}

.cohort-1-header {
    margin-left: 120px;
    font-size: 35px;
    color: rgb(197, 188, 188);
}
