.program-alumni-header {
    margin-left: 120px;
    margin-top: 40px;
    font-size: 60px;
    color: white;
}

.cohort-1-header {
    margin-left: 120px;
    font-size: 35px;
    color: rgb(197, 188, 188);
}

.card11 {
    margin-left: 200px; /* This should now correctly move the card to the left */
    
}

.card12 {
    margin-left: 550px; /* This should now correctly move the card to the left */
    margin-top: -663px;
}
