// ThreePics.scss
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .pics-container {
    display: flex;
    flex-direction: column; // Align items vertically
    justify-content: flex-start;
    align-items: center; // Center-align the images horizontally
    min-height: 100vh; // Ensures at least full viewport height, but can grow
    gap: 10px;
    animation: fadeIn 1s ease-out forwards;
    overflow-y: auto; // Enables vertical scrolling if content overflows
  }
  
  .pic {
    width: 80vw; // Make images large, taking up most of the screen width
    height: auto; // Adjust height automatically to maintain aspect ratio
    object-fit: cover; // Adjust if you want the image to cover the designated area
    margin: auto;
  }
  
  // If you need specific styling for each image, you can add it here
  .center-pic, .gear-pic {
    object-fit: contain; // Ensures the entire image is visible and maintains aspect ratio
  }
  
  